.mdl-textfield__label {
    color:black
}

.mdl-layout__tab.is-active {
    background-color: rgb(0,78,140);
    border: 1px solid black;
}

a.mdl-navigation__link {
    text-decoration: underline;
}

.mdl-button--raised:active {
    background: black;
}

.mdl-button--raised:focus {
    background: black;
}

.mdl-button--raised:hover {
    background: black;
}