.mdl-textfield__label {
    color:black
}

.mdl-layout__tab:focus {
    background-color: black; /*rgb(25, 109, 179);*/
    border: 1px solid black;
}

.mdl-layout__tab.is-active {
    background-color: rgb(0,78,140);
    border: 1px solid black;
}

a.mdl-navigation__link {
    text-decoration: underline;
}

a.mdl-navigation__link:focus {
    background-color: black;
}

.mdl-button--raised:active {
    background: black !important;                   
}

.mdl-button--raised:focus {
    background: black !important;
}