version: '3.4'

x-levelup:
  &default-levelup
  build: .
  volumes:
    - type: bind
      source: ./packages
      target: /usr/src/levelup/packages
    - type: bind
      source: ./dist
      target: /usr/src/levelup/dist
  image: levelup-for-dynamics-365-powerapps     
services:
  current:
    << : *default-levelup
    image: levelup-for-dynamics-365-powerapps:3.5.3
  latest:
    *default-levelup